<div class="lineButton" onclick="goTo('<%= line.Line %>')">
  <div class="lineButtonText" id="<%=  line.Line.toLowerCase() + "Button" %>"><%= line.Line %></div>
  <div class="lineItems" id="<%= line.Line.toLowerCase() + "LineEntrees" %>">
    <div class="box-placeholder"></div><br/>
    <div class="box-placeholder" style="width:30%"></div><br/>
    <div class="box-placeholder"></div>
  </div>
</div>
