@media screen and (orientation:landscape) {
  .lineButton {
    font-size: 3vw;
    display: flex;
    flex-direction: row;
    padding-left:1vw;
    border-radius: 1vw;
    background: white;
    margin-bottom: 3vh;
    box-shadow: rgba(0, 118, 220, 0.18) 2px 2px 15px;
  }
  .lineButton:hover {
    background-color: #f9f9f9;
  }
  .lineButtonText {
    font-size: 100%;
    color: var(--select-color);
    text-align: left;
    font-weight: 500;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
  }
  .lineButtonImage {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    height: 2.5vw;
  }
  .lineItems {
    font-size: 2vw;
    color: var(--font-color);
    text-align: right;
    width: 50%;
    padding: 2vh;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media screen and (orientation:portrait) {
  .lineButton {
    font-size: 7vw;
    display: flex;
    flex-direction: row;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    box-shadow: rgba(0, 118, 220, 0.18) 2px 2px 15px;
    width: 90%;
    border-radius: 10px;
  }
  .lineButtonText {
    font-size: 100%;
    color: var(--select-color);
    text-align: left;
    font-weight: bold;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    padding-left:2vw;
  }
  .lineButtonImage {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    height: 5.5vw;
    width: 9vw;
  }
  .lineItems {
    font-size: 6vw;
    color: var(--font-color);
    text-align: right;
    width: 80vw;
    padding: 2vh;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
  }

}
