.creditsText {
  font-size: 10vw;
  font-weight: bold;
  color: #14192D;
}

.sectionItem {
  font-size: 5vw;
  color: #5471B2;
}

@media screen and (orientation:landscape) {
  .schedule {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2vh;
  }

}

@media screen and (orientation:portrait) {
  .schedule {
    width:100vw;
    margin-top: 2vh;
  }
}
