.creditsText {
  font-size: 10vw;
  font-weight: bold;
  color: #14192D;
}

.sectionItem {
  font-size: 5vw;
  color: #5471B2;
}

@media screen and (orientation:landscape) {
  .schedule {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2vh;
    width:100%;
    box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
  }

}

@media screen and (orientation:portrait) {
  .schedule {
    width: 100vw;
    margin-top: 2vh;
    box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
  }
}

@keyframes darken {
  from {
    background: transparent;
  }
  to {
    background: #00000090;
  }
}
