@media screen and (orientation:landscape) {
  .contentContainer {
    background: white;
    box-shadow: rgba(0, 118, 220, 0.18) 2px 2px 15px;
    padding:1vw;
    border-radius: 10px;
    transition: transform .2s ease;
    -webkit-transition: transform .2s ease;
    margin-bottom: 4vh;
    animation-name: appear;
    animation-duration: 0.2s;
    animation-timing-function: ease;
  }
  .contentContainer:hover {
    transform: translateY(10px) scale(1.01);
    -webkit-transform: translateY(10px) scale(1.01);
  }
  .dayText {
    font-size: 3vw;
    color: var(--select-color);
    font-weight: 500;
    display: flex;
    border-bottom: 1px solid #e5e5e5;
  }
  .itemType {
    font-size: 2vw;
    font-weight: 500;
    color: var(--header-text-color);
    text-align: left;
    margin-left: 1vw;
  }
  .items {
    font-size: 1.5vw;
    color: var(--font-color);
    text-align: left;
    margin-left: 1vw;
  }
}

@media screen and (orientation:portrait) {
  .contentContainer {
    box-shadow: rgba(0, 118, 220, 0.18) 2px 2px 15px;
    padding:1vw;
    border-radius: 10px;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
  }
  .dayText {
    font-size: 7vw;
    color: var(--select-color);
    text-align: left;
    font-weight: bold;
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    margin-right:1vw;
    margin-left:1vw;
  }

  .itemType {
    font-size: 6vw;
    font-weight: 500;
    color: var(--header-text-color);
    text-align: left;
    width: 80vw;
    margin-left: 1vw;
  }
  .items {
    font-size: 5.5vw;
    color: var(--font-color);
    width: 80vw;
    margin-left: 1vw;
  }
}

@keyframes appear {
  from {
    transform: scale(.7);
  }
  to {
    transform: scale(1.01) translateY(10px);
  }
}
