[data-theme="dark"] {
     --nav-color: #414141;
     --select-color: #6698ff;
     --font-color: #c9d1d3;
     --bg-color: #525252;
     --header-color: #414141;
     --highlight-color: #1158A5;
     --header-text-color: #a3bbff;
     --bs-background-color: #4d4d4d;
     --hover-color: #e6f0ff3b;
}
 [data-theme="light"] {
     --nav-color: #004794;
     --select-color: #1158A5;
     --font-color: black;
     --bg-color: #FFFFFF;
     --header-color: #e8ebe9;
     --highlight-color: #87CEFA;
     --header-text-color: #6698FF;
     --bs-background-color: #ededed;
     --hover-color: #E6E6FF;
}

.content {
  background-color: var(--bg-color);
  overflow: hidden;
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  margin: 0;
  padding: 0;
}

.container {
  font-family: 'Rubik', sans-serif;
  overflow-y:scroll;
  width: 100%;
  position: absolute;
  height: 100vh;
  padding-bottom:2vh;
}

.header {
  align-items: center;
  background-color: var(--header-color);
  box-shadow: 0px 0px 5px #414141;
  display: flex;
  flex-direction: row;
  font-family: 'Rubik', sans-serif;
  height: 8vh;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.headerText {
  margin-left: auto;
  margin-right: auto;
  font-size: 5.5vh;
  font-weight: normal;
  color: var(--font-color);
}

@media screen and (orientation:landscape) {

  .settingsIcon {
    fill: var(--font-color);
    height: 2.5vw;
    width: 2.5vw;
  }
  .settingsIcon:hover {
    fill: #98999D;
  }
}

@media screen and (orientation:portrait) {
  .content {
    background-color: var(--header-color);
  }

  .container {
    background-color: var(--bg-color);
  }

  .settingsIcon {
    margin-right:1vw;
    fill: var(--font-color);
    height: 7vw;
    width: 7vw;
  }
}
